<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <connection>
    <add key="username" value="db_user" />
    <add key="pass" value="password" />
    <add key="database" value="srdb" />
    <add key="server" value="my_server" />
  </connection>

  <loginConnection>
    <add key="username" value="db_user" />
    <add key="pass" value="password" />
    <add key="database" value="srdb" />
    <add key="server" value="my_server" />
  </loginConnection>

  <comboBoxConnection>
    <add key="username" value="db_user" />
    <add key="pass" value="password" />
    <add key="database" value="srdb" />
    <add key="server" value="my_server" />
  </comboBoxConnection>
</configuration>