<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns="schema URL">
  <startup>
    <supportedRuntime
         version="v4.0" sku=".NETFramework,
             Version=v4.5"/>
  </startup>
  
  <connection>
    <add key="username" value="db_user" />
    <add key="pass" value="password" />
    <add key="database" value="srdb" />
    <add key="server" value="my_server" />
  </connection>

  <loginConnection>
    <add key="username" value="db_user" />
    <add key="pass" value="password" />
    <add key="database" value="srdb" />
    <add key="server" value="my_server" />
  </loginConnection>

  <comboBoxConnection>
    <add key="username" value="db_user" />
    <add key="pass" value="password" />
    <add key="database" value="srdb" />
    <add key="server" value="my_server" />
  </comboBoxConnection>
</configuration>